.searchWrapper {
  display: flex;
  gap: 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 8px 10px;
}
.searchWrapper input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #eaeaea;
  width: 100% !important;
}
.searchWrapper input::placeholder {
  color: #eaeaea;
}
